<!DOCTYPE html>
<html>
  <head>
    <title>Rails5_GoogleOAuth2</title>
    <%= csrf_meta_tags %>
    <meta name='google-site-verification'
          content='iIisCUaUw9NeDfsQlb8pCY_ZaFw0eh4UWktM5m1oGTA' />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='site-header'>
      <%= render 'layouts/navigation' %>
    </header>
    <main role='main'>
      <div class='wrapper'>
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
